.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.mat-card-form{
  max-width: max-content;
  background-color: rgb(33, 119, 194);
  border-radius: 8%;
  margin-top: 1px;
}

.mat-card-button{
  align-items: center;
}

.mat-form-principal{
  margin-left: 5px
}